<table class="table text-center">
  <thead>
    <tr>
      <th class="text-center">RID</th>
      <th class="text-center">city</th>
      <th class="text-center">state</th>
      <th class="text-center">location</th>
      <th class="text-center">sw lat</th>
      <th class="text-center">sw lng</th>
      <th class="text-center">ne lat</th>
      <th class="text-center">ne lng</th>
      <th class="text-center">center lat</th>
      <th class="text-center">center lng</th>
      <th class="text-center">estimated sw lat</th>
      <th class="text-center">estimated sw lng</th>
      <th class="text-center">estimated ne lat</th>
      <th class="text-center">estimated ne lng</th>
    </tr>
  </thead>
  <tbody>
    <%= render @towers %>
  </tbody>
</table>
