html {
  height:100%;
}
body {
  height:100%;
}
#map-canvas {
  height:100%;
  width:102%;
  left:-8px;
  top:-8px
}
#load-progress {
  left:40%;
  top:30%;
  width:20%;
  height:20%;
  position:fixed;
  z-index:1;
}
